@using Shared.Requests.Jobs.GetJobsFormsByFilter
@model Shared.Requests.Jobs.GetJobsFormsByFilter.GetJobsFormsByFilterResponse

@{
    ViewBag.Title = "Finate - Find Dream Job";
    Layout = "_Layout";
}

<div class="page-header-area sec-overlay sec-overlay-black" data-bg-img="~/img/photos/bg2.jpg">
    <div class="slider-content-area" data-bg-img="~/img/slider/slider-bg.jpg">
        <div class="container pt--0 pb--0">
            <div class="slider-container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12">
                        <div class="job-search-wrap">
                            <div class="job-search-form">
                                <form method="get" asp-controller="Jobs" asp-action="FindJobs">
                                    <input type="hidden" name="PageNumber" value="@Model.PageNumber">
                                    <input type="hidden" name="PageSize" value="@Model.PageSize">
                                    <div class="row row-gutter-10">
                                        <div class="col-lg-auto col-sm-6 col-12 flex-grow-1">
                                            <div class="form-group">
                                                <input type="text" name="SearchValue" class="form-control" placeholder="Job title">
                                            </div>
                                        </div>
                                        <div class="col-lg-auto col-sm-6 col-12 flex-grow-1">
                                            <div class="form-group">
                                                <button type="submit" class="btn-form-search">
                                                    <i class="icofont-search-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Page Header Area Wrapper ==-->

<!--== Start Recent Job Area Wrapper ==-->
<section class="recent-job-area recent-job-inner-area">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.JobsForms)
            {
                <div class="col-md-6 col-lg-4">
                    <!--== Start Recent Job Item ==-->
                    <div class="recent-job-item recent-job-style2-item">
                        <div class="company-info">
                            <div class="logo">
                                <a asp-action="JobForm" asp-route="@item.JobFormId">
                                    <img src="@item.JobFormImagePath" width="75" height="75" alt="Image-HasTech">
                                </a>
                            </div>
                            <div class="content">
                                <h4 class="name">
                                    <a asp-action="JobForm" asp-route="@item.JobFormId">@item.CompanyName</a>
                                </h4>
                                <p class="address">@item.Address</p>
                            </div>
                        </div>
                        <div class="main-content">
                            <h3 class="title">
                                <a asp-action="JobForm" asp-route="@item.JobFormId">@item.JobName</a>
                            </h3>
                            <h5 class="work-type">@item.JobType</h5>
                            <p class="desc">
                                @{ string.Join(", ", item.TopSkills); }
                            </p>
                        </div>
                        <div class="recent-job-info">
                            <div class="salary">
                                <h4>$@item.Salary</h4>
                                <p>/monthly</p>
                            </div>
                            <a class="btn-theme btn-sm" asp-action="JobForm" asp-route="@item.JobFormId">Apply Now</a>
                        </div>
                    </div>
                    <!--== End Recent Job Item ==-->
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-area">
                    <nav>
                        <ul class="page-numbers d-inline-flex">
                            @{
                            var pagesCount = Model.TotalCount % Model.PageSize == 0
                            ? Model.TotalCount / Model.PageSize
                            : Model.TotalCount / Model.PageSize + 1;
                            }
                            @for (var i = 0; i < pagesCount; i++)
                            {
                            <li>
                                <a class="page-number active" asp-action="FindJobs" asp-route-request="@{ new GetJobsFormsByFilterRequest { PageNumber = i+1, PageSize = Model.PageSize, SearchValue = Model.SearchValue }; }">@(i + 1)</a>
                            </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>